<!-- <div class="box_style">
    <h2
        style="box-sizing: inherit; font-size: 32px; font-family: &quot;Segoe UI&quot;, Arial, sans-serif; margin: 10px 0px; color: rgb(0, 0, 0);">
        A Simple HTML Document</h2>
    <div class="parent">
        <a onclick="copyDivToClipboard(this)" class="btn-success btn-sm copyButton"><i class="fas fa-clipboard"></i></a>
        <a onclick="tryByYourself(this)" class="btn-success btn-sm tryYourselfButton">Try it yourself</a>
        <pre id="a">
<code class="Demo language-html html hljs"> &lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;title&gt;Javascript&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;script&gt;
console.log(5 < 10); // true
console.log("a" < "b"); // true
console.log("a" > "b"); // false
console.log("abc" <= "abcd"); // true
console.log("abc" >= "abcd"); // false
&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
</code>
<br></pre>
    </div>
</div> -->